*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  font-size: 62.5%;
  /* 1 rem = 10px but browser default size is 16 px so 10/16 = 62.5*/

}

@media (max-width: 75em) {
  html {
    /*1 rem = 9px so 9/16px = 56.25*/
    font-size: 56.25%;
  }
}

@media (max-width: 50em) {
  html {
    font-size: 53%;
    /*1 rem = 8.5px so 8.5/16px = 53*/
  }
}

@media (max-width: 37.5em) {
  html {
    /*1 rem = 8px so 8/16px = 50*/
    font-size: 50%;
  }
}

@media (max-width: 31.25em) {
  html {
    /*1 rem = 7.5px so 7.5/16px = 47*/
    font-size: 47%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
    /*1 rem = 12px so 12/16px = 75*/
  }
}

body {
  font-family: 'Montserrat', serif;
  font-display: swap;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777777;
  padding: 0rem;
  
  position: relative;
}


@-moz-document url-prefix() {
  section, header{
  
  scroll-snap-align: start;
  @include respond(tab-land){
    scroll-snap-type: y none;
    scroll-snap-align: none;
  }
  
  }
  footer{
      scroll-snap-align: end;
    @include respond(tab-land){
      scroll-snap-type: y none;
      scroll-snap-align: none;
    }
  }
}