
.footer{

    
    background-color: #212121;
    padding: 0.5rem 23rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;

    @include respond(tab-land){

            padding: 0.5rem 15rem;
    }
    @include respond(tab-land){

            padding: 0.5rem 10rem;
    }

        & > *{

            padding-bottom: 1.5rem;
            padding-top: 1.5rem;
        }

        & span{
            font-size: 3rem;
            font-family: 'Dancing Script', cursive;
        }

}






.footer__logo-box a{
   font-size: 4rem ;
   text-decoration: none;
   list-style: none;
   @include phoenix-color;
   text-align: center;
}

.footer__list{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    list-style: none;


    & a{

        font-size: 1.4rem;
        text-decoration: none;
        color: white;
    }
    
}

.footer__social{

    font-size: 4rem;
    text-align: right;
    padding-right: 3rem;

    @include respond(tab-land){ 
        text-align: center;
        padding-right: 0;
    }

    & i{
        padding-right: 2rem;
    }
}



.footer__link{
    &:link,
        &:visited{

            text-decoration: none;
            text-transform: uppercase;
      
        }

   
}

.footer__list li{

    &:hover,
    &:active{
        @include phoenix-color;
       transform: scaleX(1.3);
        transition: all 0.5s;
    }
    


}
.footer__social{

    

   




    &-link{

        &:link,
        &:visited{
        color: white;
        
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        }


    }
    &-link:nth-child(1){
    &:hover,
    &:active{
        color: #3b5999;
        text-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
        -webkit-transform:  scale(1.3);
                transform:  scale(1.3);
        }

        
       

    }
    &-link:nth-child(2){
    &:hover,
    &:active{
        color: #6e5494;
        text-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
        -webkit-transform:  scale(1.3);
                transform:  scale(1.3);
        }

        
       

    }
    &-link:nth-child(3){
    &:hover,
    &:active{
        color: #cd201f;
        text-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
        -webkit-transform:  scale(1.3);
                transform:  scale(1.3);
        }

        
       

    }
    &-link:nth-child(4){
    &:hover,
    &:active{
        color: #55acee;
        text-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
        -webkit-transform:  scale(1.3);
                transform:  scale(1.3);
        }

        
       

    }
}


.credit{

    font-size: 1.0rem;
}