.header__landing {

    position: relative;
    


    &-image  {

        height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/image01.jpg');
        background-size:cover ;


        @include respond(tab-port){
            background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/image01-medium.jpg');
            background-size:cover ;
            
            
        }
    }

    

    &-text {
        position: absolute;
        top: 70%;
        left: 20%;
        transform: translate(-20%, -70%);
                     @include respond(phone){
                      width: 100%;
                      padding:1.5rem;
                        
                       left: 50%;
                       transform: translate(-50%, -70%);
                       text-align: center;
                                    }           
    }


    
   

    &-text h1 {
       
        text-transform: uppercase;
        font-weight: 600;
        padding-bottom: 2rem;
    }
                /*this is done to style auto tuped text*/
                #typed{
                  //  padding-bottom: 3.5rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: white;
                    
                }
                  
                
    &-text blockquote {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.3rem;
        color: white;
         @include respond(phone){
             font-size: 2rem;
             line-height: 4rem;
             font-weight: 400;
             padding: 2rem 1.5rem 0rem 1.5rem;
         }
    }


    &-text h1 span {
        @include phoenix-color;
    }

    &-text h4 {
      
        
        font-weight: 300;
        color: white;
        padding-bottom: 3.5rem;

    }

    &-text a{
        position: relative;
        
    }

    

}
