





.nav__mobile{

  display: none;

    @include respond(tab-land){
    display: block;
    width: 4.0rem;
    height: 2.5rem;
    position: fixed;
    top: 3rem;
    right: 5rem;
    z-index: 1100;    
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;


            & span{
               
            display: block;
            position: fixed;
            height: 0.4rem;
            width: 100%;
            background: -webkit-gradient(linear, left top, right top, from(#f12711), to(#f5af19));
            background: linear-gradient(to right, #f12711, #f5af19);
            border-radius: 1rem;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            transition: .25s ease-in-out;

            }

            & span:nth-child(1) {
                top: 0;
            }
            
            & span:nth-child(2) {
                top: 1.2rem;
            }
            
            & span:nth-child(3) {
                top: 2.4rem;
            }
            
            &.open span:nth-child(1) {
                top: 1.4rem;
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
                z-index: 1100;
            }
            
            &.open span:nth-child(2) {
                //visibility: hidden;
                opacity: 1;
                left: -10rem;
                width: 100vw;
                height: 60vh;
                -webkit-transform: scaleX(1.7);
                        transform: scaleX(1.7);
                border-radius: 1px;
                top: -4rem;
                background: rgba(21, 31, 33, 0.904);
               
                @include respond(tab-land){
                    height: 100vh;
                    -webkit-transform: scaleX(1.3);
                            transform: scaleX(1.3);
                }
                @include respond(phone){
                    right: 25rem;
                    height: 65vh;
                    -webkit-transform: scaleX(1.7);
                            transform: scaleX(1.7);
                }
                
            }
            
            &.open span:nth-child(3) {
                top: 1.4rem;
                -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
                z-index: 100;
            }

           

        }

    
}


.nav__mobile-container{

    
        @include respond(tab-land){
            z-index: 1200;
        text-transform: uppercase;
        position: absolute;
        top: 20%;
        right: 10%;
        -webkit-transform: translate(-10%, -20%);
                transform: translate(-10%, -20%);
        position: fixed;
            

                
        & a{

            color: white;
            text-decoration: none;
            font-size: 1.6rem;
            font-weight: 400;
            text-align: center;
            @include respond(phone){
                font-size: 2.2rem;
               
            }
            
        }
            
        & > *{

            padding: 1.5rem 0.5rem;
            -webkit-animation: slide-in-blurred-right 700ms;
                    animation: slide-in-blurred-right 700ms;
        }
        
        .menu-animation{
            display: block;
            -webkit-animation: slide-in-blurred-right 500ms;
                    animation: slide-in-blurred-right 500ms;

        }

        

        }
}

.hide{

    display: none;
    visibility: hidden;
 }
.show{
    display: block;
    visibility: visible;
}